#img1 {
    text-align: center;
    margin-top: 80px;
}

.leftSection {
    float: left;
    width: 25%;
    margin-left: 20%;
    margin-left: 20%;
    padding-top: 70px;

}

.rightSection {
    float: right;
    width: 25%;
    margin-right: 20%;
    border-left: 1px solid \gray;
    padding-left: 70px;
}

.bodyContent {
    margin-top: 20px;
}

form label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;

}

form p {
    margin-top: 1px;
    margin-bottom: 0px; 
    color: rgb(90, 89, 89);
    font-size: 13px;
}

.formContent input {
    width: 270px;
    height: 25px;
    margin-top: 7px;
}

button {
    width: 280px;
    height: 30px;
    color: white;
    background-color: orange;
    margin-top: 10px;
}

/* to make space beetween each div in for and another (input text $ next label) */
.formContent {
    margin-bottom: 13px;
}

#signInLink {
    text-align: center;
}

a {
    text-decoration: none;
}

#mainFooter {
    margin-top: 100px;
    clear: both;
    text-align: center;
}

#footerDiv div {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 12px;
    margin-top: 200px;
}

#lastDiv {
    color: gray;
    font-size: 13px;
}